*{ margin: 0;
    padding: 0;
}
.hed{
    
    background: rgb(248, 2, 2);
    font-family: Georgia, "Times New Roman", Times, serif;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    font-size: 34px;
    padding: 10px;
    margin-bottom: 12px;
    margin-top: 1px;
    border: #000000;
    margin-left: 5px;
    margin-right: 5px;
}

#para{
    font-size: 35px;
    color: #000;
    font-weight: 500;
    margin: 70px;
    
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
.card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 25px;
    width: 50px;
    transition: all 0.3s ease-out;
  }
 
.um {
  border-left: 3px solid #000000;
}
 

.slider {
    display: block;
    height: 350px;
    width: 250px;
    margin: auto;
    margin-top: 0px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;

}
.slider input {
    display: none;
}
.slider label {
    background-color: #000;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}
.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

#image{
    padding: 10px;
    width: 300px;
    height: 200px;
}
.botao{
    font-size: 25px;
    font-family: cursive;
    color: rgb(7, 6, 8);
    display: flex;
    gap: 20px;
}
.nav{
    display: flex;
    align-items: center;
    border: 2px;
    border-radius: 4px;
    border-bottom: 2px;
    border-top: 2px;
    border-color: rgb(0, 0, 0);
    height: 50px;
    width: 50x;
    gap: 50px;
}
.nav{
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 20px;
    page-break-after: auto;


}

.item-botao:hover{ 
background-color: rgba(255, 0, 0, 0.479);    
border: none;
box-shadow: 4px 5px 4px rgb(0, 255, 128);
border-radius: 20px;
}